<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Exchange Tool</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
	<div id="app" :key="exg">
		<header id="siteHeader">
			<h1>Currency Converter</h1>
		</header>
		<div id="exchange" class="container">
			<div class="row">
				<div class="col-sm"></div>
				<div class="col-sm">
					<h3> CURRENCY: {{ exg }}</h3>
	
					<ul>
						<li v-for="(value, key) in data.rates"> <a v-on:click="clickEvent(key)" href="#">{{ key }}</a>: {{value}} </li>					
					</ul>
				
				</div>
				<div class="col-sm">
					<div class="row"></div>
					<div class="row">
						<div>
							<h3> Exhange Calculator:</h3>
							<div class="row">
								<div class="col"><label>From </label> <br></div>
								<div class="col"><label>To </label></div>
								<div class="col"></div>
							</div>
							<div class="row">
								<input v-model="inputAmount" v-on:input="onChange(inputAmount)" type="text">
								<select v-model="selectedFromCurrency" @change="onChange()"> 
									<option v-on:select="" v-for="rate in Object.keys(data.rates)"> {{rate}} </option>
								</select>								
								<select v-model="selectedToCurrency" @change="onChange()"> 
									<option v-for="rate in Object.keys(data.rates)" id=""> {{rate}} </option>
								</select>
								<input v-model="outputAmount" type="text" disabled>
							</div>
							
							
						</div>
						
					</div>
					<br><br>
					<div class="row" >
						<div id="country-div">
							<h3>About the country</h3>
							<div class="row">
								<div class="col-sm">							
									<div id="flag-div" class="row">
										<div class="col-sm"> <img id="flag-img" v-bind:src="country.flag" alt="image not found"></div>
									</div>
										<p><b>Country name:</b> {{country.name}} </p>
										<p><b>Capital:</b> {{country.capital}} </p>
										<p><b>Region:</b> {{country.region}} </p>
										<p><b>Population:</b> {{country.population}} </p>
								</div>
								
							</div>					
						</div>
					</div>					
				</div>
				<div class="col-sm"></div>
			</div>			
			
		</div>
	</div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>