 body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
  }
  
  button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 25px;
    width: 40px;
    font-size: 14px;
  } 
  
  .disabledButton {
    background-color: #d8d8d8;
  }
  
  .review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
  }
  
  input {
    width: 20%;  
    height: 25px;
  }
  
  textarea {
    width: 100%;
    height: 60px;
  }

  .tab {
    margin-left: 20px;
    cursor: pointer;
  }

  .activeTab {
    color: #16C0B0;
    text-decoration: underline;
  }

header {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

h3 {
  padding-left: 10px;
}

#flag-img {
  width: 100px;
  height: 80px;
}


#country-div {
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
}

.container {
  padding-top: 20px;
}